In [2]:
!pip install pandas
!pip install numpy
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\praveen\appdata\roaming\python\python311\site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\praveen\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\praveen\appdata\roaming\python\python311\site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in c:\users\praveen\appdata\roaming\python\python311\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\praveen\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\praveen\appdata\roaming\python\python311\site-packages (1.23.5)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\praveen\appdata\roaming\python\python311\site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in c:\users\praveen\appdata\roaming\python\python311\site-packages (from openpyxl) (1.1.0)

In [1]:
import pandas as pd
import numpy as np
### Users

user_gameplay_path = r"C:\Users\Praveen\user_gameplay_202211281119.csv"
deposit_gameplay_path = r"C:\Users\Praveen\Downloads\deposit.csv"
withdraw_gameplay_path = r"C:\Users\Praveen\Downloads\withdraw.csv.csv"
df_users = pd.read_csv(user_gameplay_path)
df_users = df_users.rename(columns={"USER ID":"User Id"})
df_users['Datetime'] = pd.to_datetime(df_users['Datetime'], format='%d-%m-%Y %H:%M')

## Deposit
df_deposit = pd.read_csv(deposit_gameplay_path)
df_deposit['Datetime'] = pd.to_datetime(df_deposit['Datetime'], format='%d-%m-%Y %H:%M')

## withdraw

df_withdraw = pd.read_csv(withdraw_gameplay_path)
df_withdraw['Datetime'] = pd.to_datetime(df_withdraw['Datetime'], format='%d-%m-%Y %H:%M')
df_users

        User Id  Games Played            Datetime
0           851             1 2022-10-01 00:00:00
1           717             1 2022-10-01 00:00:00
2           456             1 2022-10-01 00:00:00
3           424             1 2022-10-01 00:00:00
4           845             1 2022-10-01 00:00:00
...         ...           ...                 ...
354995      154             1 2022-10-31 23:26:00
354996      449             1 2022-10-31 23:26:00
354997      677             1 2022-10-31 23:26:00
354998      765             1 2022-10-31 23:26:00
354999      128             1 2022-10-31 23:26:00

[355000 rows x 3 columns]

In [54]:


## Date format yy-mm-dd example 2022-10-02 
def generate_loyality_points(date : str , slot : str ,month_start='',month_end=''):
    if slot.lower()=='s1':
        date_start = date + " 00:00"
        date_end = date + " 12:00"
    elif slot.lower()=='s2':
        date_start = date + " 12:00"
        date_end = date + " 23:59"
    else:
        date_start = month_start
        date_end = month_end
        
    
    df_users_temp1 = df_users[(df_users['Datetime'] > date_start) & (df_users['Datetime'] < date_end)]
    df_deposit_temp1 = df_deposit[(df_deposit['Datetime'] > date_start) & (df_deposit['Datetime'] < date_end)]
    df_withdraw_temp1 = df_withdraw[(df_withdraw['Datetime'] > date_start) & (df_withdraw['Datetime'] < date_end)]



    df_deposit_temp1 = df_deposit_temp1.groupby(['User Id'],as_index=False)['Amount'].sum()

    df_all_deposit = df_deposit_temp1.rename(columns={'Amount':'deposit_amount'})

    df_withdraw_temp1 = df_withdraw_temp1.groupby('User Id',as_index=False)['Amount'].sum()
    df_all_withdraw = df_withdraw_temp1.rename(columns={'Amount':'withdraw_amount'})
    df_all_users = df_users_temp1.groupby('User Id',as_index=False)['Games Played'].sum()

    df_all_merge = pd.merge(df_all_users,df_all_withdraw,on='User Id',how='left')
    df_all_merge = pd.merge(df_all_merge,df_all_deposit,on='User Id',how='left')
    df_all_merge = df_all_merge.fillna(0)

    df_all_merge['points'] = df_all_merge.apply(lambda x: (0.01*x.deposit_amount+0.005*x.withdraw_amount+0.2*x['Games Played']
                                                         + 0.001*(max(x.deposit_amount-x.withdraw_amount,0))),axis=1)
    df_all_merge=df_all_merge.sort_values(by=['points'],ascending=False)
    return df_all_merge

In [55]:
df_final_oct_02_s1 = generate_loyality_points(date='2022-10-02',slot='s1')
df_final_oct_16_s2 = generate_loyality_points(date='2022-10-16',slot='s2')
df_final_oct_18_s1 = generate_loyality_points(date='2022-10-18',slot='s1')
df_final_oct_26_s2 = generate_loyality_points(date='2022-10-26',slot='s2')
df_final_oct = generate_loyality_points(date='' , slot='all' ,month_start='2022-10-01 00:00',month_end='2022-10-31 23:59')
df_final_oct_02_s1.to_excel('df_final_oct_02_s1.xlsx',index=False)
df_final_oct_16_s2.to_excel('df_final_oct_16_s2.xlsx',index=False)
df_final_oct_18_s1.to_excel('df_final_oct_18_s1.xlsx',index=False)
df_final_oct_26_s2.to_excel('df_final_oct_26_s2.xlsx',index=False)

## Caluclating rank for users who has highest points 
df_final_oct=df_final_oct.sort_values(by=['points','Games Played'],ascending=[False,False])

df_final_oct['rank'] = np.arange(1,df_final_oct.shape[0]+1)
print(df_final_oct)
df_final_oct.to_excel('df_final_oct.xlsx',index=False)

## Avg Depoit amount 
df_avg_deposit = df_deposit['Amount'].mean()

print('Avg Depoit amount' , df_avg_deposit)

## Avg deposit amount per month per user
import datetime
df_deposit['Month'] = df_deposit['Datetime'].apply(lambda x : x.strftime("%B"))
df_avg_depoist_user = df_deposit.groupby(['User Id','Month'],as_index=False)['Amount'].mean()
print(df_avg_depoist_user)

## Avg Number of games played per user

df_avg_user = df_users.groupby(['User Id'],as_index=False)['Games Played'].mean()
print(df_avg_user)

     User Id  Games Played  withdraw_amount  deposit_amount     points  rank
634      634            24       15737705.0        515000.0  83843.325     1
672      672            10         233750.0       2158700.0  24682.700     2
99        99            10        2403141.0       1164800.0  23665.705     3
212      212             1         589850.0       1924981.0  23534.391     4
566      566           183         185071.0       1819175.0  20787.809     5
..       ...           ...              ...             ...        ...   ...
858      858             2              0.0             0.0      0.400   996
643      643             2              0.0             0.0      0.400   997
388      388             2              0.0             0.0      0.400   998
507      507             2              0.0             0.0      0.400   999
38        38             1              0.0             0.0      0.200  1000

[1000 rows x 6 columns]
Avg Depoit amount 5492.185399701801
     User Id    Month        Amount
0          1  October   5000.000000
1          2  October  28350.000000
2          3  October  10000.000000
3          4  October   1750.000000
4          5  October   1105.970149
..       ...      ...           ...
910      994  October   1400.000000
911      995  October   6900.000000
912      996  October   3109.677419
913      998  October   1480.000000
914      999  October   3000.000000

[915 rows x 3 columns]
     User Id  Games Played
0          0           1.0
1          1           1.0
2          2           1.0
3          3           1.0
4          4           1.0
..       ...           ...
995      995           1.0
996      996           1.0
997      997           1.0
998      998           1.0
999      999           1.0

[1000 rows x 2 columns]

In [56]:
## Alloting loyality amount to top fifty palyers
df_final_oct = df_final_oct.head(50)

sum_of_points = df_final_oct['points'].sum()
sum_of_games_played = df_final_oct['Games Played'].sum()
each_point_value = 50000/sum_of_points
each_gp_value = 50000/sum_of_games_played

df_final_oct['prize_money'] = df_final_oct.apply(lambda x : (x['points']*each_point_value+x['Games Played']*each_gp_value)/2 ,axis=1)


df_final_oct.to_excel('df_final_oct_prize_money.xlsx',index=False)
df_final_oct

,User Id,Games Played,withdraw_amount,deposit_amount,points,rank,prize_money
634,634,24,15737705.0,515000.0,83843.325,1,3220.364479
672,672,10,233750.0,2158700.0,24682.700,2,950.426070
99,99,10,2403141.0,1164800.0,23665.705,3,911.600138
212,212,1,589850.0,1924981.0,23534.391,4,899.286258
566,566,183,185071.0,1819175.0,20787.809,5,942.065889
740,740,2,365288.0,1738490.0,20584.942,6,787.496002
714,714,6,0.0,1676300.0,18440.500,7,708.872152
421,421,1555,1269809.0,878600.0,15446.045,8,1851.082573
30,30,13,152145.0,1329000.0,15230.180,9,591.989723
222,222,10,99358.0,1285000.0,14534.432,10,562.994510
369,369,37,1586208.0,650000.0,14438.440,11,581.231887
352,352,313,429518.0,1083034.0,13694.046,12,776.700935
587,587,734,1355000.0,671700.0,13638.800,13,1116.101910
569,569,38,0.0,1227780.0,13513.180,14,546.719320
365,365,3666,1802335.0,311000.0,12854.875,15,3464.576851
920,920,932,1734480.0,367700.0,12535.800,16,1234.607761
162,162,2,2360000.0,68320.0,12483.600,17,478.210165
415,415,26,1759843.0,350000.0,12304.415,18,490.837909
238,238,898,445000.0,923400.0,12117.000,19,1191.038798
2,2,97,1270215.0,567000.0,12040.475,20,538.355783
786,786,7,1096160.0,641500.0,11897.200,21,459.879047
992,992,2481,616278.0,804978.0,11816.070,22,2463.660611
28,28,37,0.0,1061500.0,11683.900,23,476.071506
538,538,29,8558.0,1025000.0,11315.032,24,455.499688
978,978,74,288114.0,794358.0,9905.194,25,438.179601
208,208,506,657928.0,644934.0,9840.180,26,786.130728
915,915,8,307609.0,780028.0,9812.344,27,381.096454
989,989,3467,1339000.0,240000.0,9788.400,28,3186.081300
182,182,2446,80339.0,795000.0,9555.556,29,2348.969139
909,909,1,454060.0,679745.0,9293.635,30,355.615328
678,678,12,1100000.0,379000.0,9292.400,31,364.491246
78,78,602,1484900.0,159000.0,9134.900,32,837.079214
259,259,126,0.0,824020.0,9089.420,33,449.217477
306,306,4,0.0,826000.0,9086.800,34,350.152529
93,93,487,511474.0,616000.0,8919.296,35,735.561467
601,601,33,240000.0,692144.0,8580.184,36,354.335842
200,200,4,593000.0,539998.0,8365.780,37,322.626068
344,344,3,1024000.0,311900.0,8239.600,38,316.997692
950,950,4,35500.0,732000.0,8194.800,39,316.098545
681,681,8,132000.0,689000.0,8108.600,40,316.052430
515,515,413,400000.0,580000.0,8062.600,41,642.827384
294,294,5,311187.0,607700.0,7930.448,42,306.817537
675,675,639,70000.0,662500.0,7695.300,43,812.133397
619,619,2,0.0,697000.0,7667.400,44,294.341561
663,663,6396,290200.0,425000.0,7115.000,45,5459.987980
438,438,1,594851.0,400000.0,6974.455,46,267.075734
976,976,6,0.0,625000.0,6876.200,47,267.380582
612,612,1541,109081.0,554800.0,6847.324,48,1511.451611
687,687,1672,0.0,581027.0,6725.697,49,1613.073859
547,547,1248,245863.0,493200.0,6658.252,50,1266.555333